
body{
 background-color: #01010e;
 color: #fff;
}
.custom-navbar {
 background-color: #01010e!important;
}

.navbar-collapse {
 background-color: #01010e;
}
.navbar a {
 color: #fff !important;
}
#hero {
 background-color: #01010e;
}
#testimonials {
 background-color: #01010e;
 border-top: 1px solid #01010e;
 border-bottom: 1px solid #01010e;
}
.testimonial-box {
 background-color: #00020e;

}

.pricing-box {
 background-color: #00020e;
 border: 1px solid #010c20;
}
footer {
 background-color: #01010e;
 padding: 60px 0;
 color: #fff;
}
footer a {
 color: #ffffff;
}